.card__container {
    position: relative;
    border: 3px solid #3E4357;
    border-radius: 10px;
    width: 21.8rem;
    height: 31.2rem;

    display: flex;
    overflow: hidden;
    margin-top: 0.62rem;
}

.card__img {
    min-width: 100%;
    min-height: 100%;
    transition: transform .8s;
}

.card__img:hover{
    transform: scale(1.1);
}