.card-label__container{
    position: absolute;
    bottom: 5.6rem;
    right: 0;
}

.card-label__content{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #0d0d0de7;
    color: #fff;
    font-size: 0.75rem;
    font-weight: bold;
    height: 2rem;
    padding: 0 2.5rem;
}